.feedback-title
{
    font-size: @font-size;

    min-height: 160px;
    padding: 10% 6%;

    text-align: center;
}
.form
{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
    fieldset
    {
        border: 0;
    }
}
